body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #eeee54, #acb6e5);
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #222;
    margin-bottom: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    background: rgb(235, 183, 183);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background: #cd81eb;
    color: white;
}

tr:hover {
    background: #f1f1f1;
}